<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
        <div class="login">
                <div class="login-header">
                  <h1>Register</h1>
                </div>
                <div class="login-form">
                  <h3>First Name:</h3>
                  <input type="text" placeholder="First Name" id="fname" required/><br>
                  <h3>Last Name:</h3>
                  <input type="text" placeholder="Last Name" id="lname" required/><br>
                  <h3>Email:</h3>
                  <input type="email" placeholder="Email" id="email" required/>
                  <h3>Password:</h3>
                  <input type="password" placeholder="Password" id="pass" required/>
                  <h3>re-Password:</h3>
                  <input type="password" placeholder="Re-Password" id="repass" required/>
                  <br>
                  <ul class="hidden" id="errorlist"></ul>
                  <input type="button" value="register" class="login-button" id="registerBtn"/>
                  <br>
                  <a href="/" class="sign-up">login</a>
                  <br>
                  
                </div>
              </div>
              <div class="error-page">
                <div class="try-again">Error: Try again?</div>
              </div>
              <script src="/dist/main.js"></script>
</body>
</html>